<%- include("header") -%>

<h1>About Me</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque porro officiis debitis sit mollitia ea ipsa dolor veniam voluptatem voluptates, excepturi error similique necessitatibus id harum ut molestiae illum magni.</p>

<%- include("footer") -%>